<div class="container">
    <table cellspacing="0">
        <tr>
            <td>Nome</td>
            <td>Categoria</td>
            <td>Qtd. em estoque</td>
            <td>Preço</td>
            <td>Dolar $</td>
            <td>Status</td>
        </tr>
        <tr *ngFor="let product of productList">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.in_stock}}</td>
            <td>{{(product.price).toLocaleString('pt-BR', {style: 'currency', currency: 'BRL'})}}</td>
            <td>{{(product.price / askDolar).toLocaleString('en', {style: 'currency', currency: 'USD'})}}</td>
            <td [style.background]="getStatusColor(product)"></td>
        </tr>
    </table>
    <button (click)="openFormModal()">ADICIONAR</button>
</div>